.flashcard {
  background-color: #eaf3f5;
  border-radius: 30px;
  box-shadow: 4px 4px 7px #5f5e67c9;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 20rem;
  opacity: 0.94;
  margin: 50px auto 18px;
}

.prompt {
  padding: 0px 35px;
  color: #29262d;
  font-size: 2rem;
}

.answer-btns {
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.answer-btns button {
  @include buttonStyle
}