.App {
  min-height: 100vh;
}

.title {
  background: url('./lettering.jpg');
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 9rem;
  margin: 1px 30px;
  font-weight: bold;
}

.intro {
  font-size: 3.5rem;
  padding: 16px 0px 0px 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
